---
import PostCard from "@components/PostCard.astro";
import Profile from "@components/Profile.astro";
import TagList from "@components/TagList.astro";
import Layout from "@layouts/Layout.astro";
import { fetchPostsData } from "@lib/spearly";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async ({ paginate }) => {
  const res = await fetchPostsData();
  const allPosts = res.data;
  const duplicatedTagList = allPosts
    .map(({ values }) => values.tag as string[])
    .flatMap((tagList) => tagList);
  const uniqueTagList = [...new Set(duplicatedTagList)];

  return uniqueTagList.flatMap((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      (post.values.tag as string[])?.includes(tag),
    );
    return paginate(filteredPosts, {
      params: {
        tag,
      },
      pageSize: 10,
    });
  });
}) satisfies GetStaticPaths;

const params = Astro.params;
const { page } = Astro.props;
const isForwardDisabled = page.url.next ? false : true;
const isBackDisabled = page.url.prev ? false : true;
---

<Layout title={`${params.tag}タグを含む記事`}>
  <div
    class="grid grid-cols-1 min-h-screen sm:grid-cols-[1fr,250px] sm:grid-rows-[auto,1fr] xl:grid-cols-[250px,1fr,250px] 2xl:grid-cols-[300px,1fr,300px] max-w-[2000px] mx-auto gap-8 md:gap-x-4 xl:gap-8"
  >
    <div
      class="row-start-2 col-start-1 sm:row-start-1 sm:col-start-2 col-span-1 xl:col-start-1"
    >
      <Profile />
    </div>
    <p>{params.tag}のタグが付いた記事</p>
    <div
      class="col-start-1 col-span-1 xl:col-start-2 xl:col-span-1 row-span-full"
    >
      <main
        class="w-full flex flex-wrap flex-row bg-gray-200 xl:p-6 gap-4 2xl:gap-8 md:gap-4 p-5"
      >
        {
          page.data.map(({ values, attributes }) => (
            <PostCard
              title={values.title as string}
              imgUrl={values.image as string}
              tags={values.tag as string[]}
              href={`/posts/${attributes.publicUid}`}
              updatedAt={attributes.updatedAt}
            />
          ))
        }
      </main>
      <div class="join flex justify-center mb-2 sm:mb-0 mt-8">
        <button class="join-item btn btn-lg" disabled={isBackDisabled}
          ><a href={page.url.prev}>«</a></button
        >
        <button class="join-item btn btn-lg">Page {page.currentPage}</button>
        <button class="join-item btn btn-lg" disabled={isForwardDisabled}
          ><a href={page.url.next}>»</a></button
        >
      </div>
    </div>
    <!-- <div
      class="row-start-3 col-start-1 sm:col-start-2 col-span-1 sm:row-start-2 xl:col-start-3 xl:row-start-1"
    >
    </div> -->
  </div>
</Layout>
