---
import Layout from "@layouts/Layout.astro";
import PostCard from "@components/PostCard.astro";
import { fetchLimitPostsData } from "@lib/spearly";

let isForwardDisabled = true;
let isBackDisabled = true;
let pageNum = 1;
const perPage = 10;

const res = await fetchLimitPostsData(perPage, pageNum);
const posts = res.data;
console.log(res);
---

<Layout title="ブログ記事一覧">
  <div
    class="grid grid-cols-1 gap-4 min-h-screen sm:grid-cols-3 xl:grid-cols-4"
  >
    <div class="col-start-3 col-span-1 xl:col-start-1">
      <!-- ここにサイドバーが挿入される -->
    </div>
    <div
      class="col-start-1 col-span-2 xl:col-start-2 xl:col-span-2 row-span-full"
    >
      <main
        class="w-full flex flex-wrap flex-row gap-8 m-auto justify-center border-2 border-white p-6"
      >
        {
          posts.map(({ values, attributes }) => (
            <PostCard
              title={values.title as string}
              imgUrl={values.image as string}
              tags={values.tag as string[]}
              href={`posts/${attributes.publicUid}`}
              updatedAt={attributes.updatedAt}
            />
          ))
        }
      </main>
      <div class="join my-6 flex justify-center">
        <button class="join-item btn btn-lg" disabled={isBackDisabled}>«</button
        >
        <button class="join-item btn btn-lg">{pageNum}</button>
        <button class="join-item btn btn-lg" disabled={isForwardDisabled}
          >»</button
        >
      </div>
    </div>
    <div class="col-span-1"><!-- ここにサイドバーが挿入される --></div>
  </div>
</Layout>
